@font-face {
    font-family: "Lato";
    src: url('../fonts/Ubuntu-Regular.woff') format("woff");
}


:root {
    --light-color: rgba(0, 0, 0, 0.1);
    --gray-color: rgba(0, 0, 0, 0.2);
    --dark-color: rgba(0, 0, 0, 0.3);
    --green-color: #14532d;
    --indigo-color: #DDD6FE;
    --orange-color: #fb923c;
    --lgray-color: #636363;
    --rose-color: #BE123C;
}

body, html {
    height: 100%;
    /* margin: 0; */
    font-family: Lato;
}

* {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100%;
}

.navbar {
    background-color: white;
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 5px 60px 20px 40px;
}

.navbar > * {
    /* background-color: var(--gray-color); */
}

.navbar .top-nav {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10vw;
    justify-content: center;
    align-items: center;
}

.navbar .top-nav > div {
    display: flex;
    column-gap: 20px;
}

.navbar .top-nav > div .user-name {
    font-size: 1.1rem;
    font-weight: bold;
}

.top-nav > div > input {
    flex: 1;
    background-color: var(--indigo-color);
    border: none;
    height: 30px;
    border-radius: 25px;
}

.navbar .bottom-nav {
    display: flex;
}

.navbar .bottom-nav .user-profile {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.bottom-nav .user-profile > * {
    margin: 0;
}

.bottom-nav .user-profile > p:nth-child(2) {
    align-self: flex-end;
    font-size: 0.9rem;
}

.bottom-nav .user-profile > p:nth-child(3) {
    font-size: 1.3rem;
    align-self: flex-start;
}

.navbar .bottom-nav .profile-img {
    grid-area: 1 / 1 / 3 / 2;
}

.navbar .bottom-nav .buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.bottom-nav .buttons button {
    background-color: var(--green-color);
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    font-weight: bold;
}

.home {
    background-color: var(--indigo-color);

    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    padding: 0 30px 0 20px;
}


.home > .projects-cont {
    grid-area: 1 / 1 / 3 / 2;
    /* padding: 0 0 0 20px; */
}


.home > .announcement-cont > h2,
.home > .projects-cont > h2 {
    margin-top: 25px;
}

.home > section > h2 {
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.home > .projects-cont > .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    /* margin-bottom: 50px; */
}

.projects-cont > .projects > .project {
    background-color: white;
    height: 225px;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    padding: 25px;
    border-left: 8px solid var(--rose-color);
    border-radius: 10px;
}

.projects > .project > .proj-title {
    margin: 10px 0 0 0;
    font-size: 1.3rem;
}

.projects > .project > p {
    margin: 3px 0 0 0;
    font-size: 1rem;
    color: var(--lgray-color);
}

.projects > .project > .proj-icons {
    display: flex;
    column-gap: 35px;
    justify-content: flex-end;
    margin: 0;
}

.home > .announcement-cont {
    grid-area: 1 / 2 / 2 / 3;
}

.announcement-cont .announcement {
    background-color: white;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
}

.announcement-cont .announcement article {
    border-bottom: 1px solid black;
    display: grid;
    grid-template-rows: auto 1fr;
}

.announcement-cont .announcement article:last-child {
    border: none;
}
.announcement article:first-child h4 {
    margin-top: 10px;
}

.announcement article > h4 {
    margin: 15px 0 0 0;
    font-size: 1rem;
}

.announcement article > p {
    margin-top: 3px;
    font-size: 0.9rem;
    color: var(--lgray-color);
}

.trending-cont h2 {
    margin: 0 0 10px 0;
}

.home > .trending-cont {
    grid-area: 2 / 2 / 3 / 3;
}

.home > .trending-cont > .trending {
    background-color: white;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 25px;
    padding: 20px;
}

.trending-cont .trending article {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "img user"
                         "img descr";
    column-gap: 25px;
}

.trending article .img {
    grid-area: img;
}

.trending article .user {
    grid-area: user;
    margin  :0;
}

.trending article .description {
    grid-area: descr;
    margin:0;
}

.sidebar {
    background-color: var(--green-color);
    color: white;

    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 30px; /* Later try to use vw or vh to make it responsive*/
}

.sidebar > * {
    padding-left: 25px;
}

.title > p,
.sidebar ul > li {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 25px;
    font-size: 1.1rem;
    font-weight: bold;
}

.title > p {
    font-size: 1.6rem;
    font-weight: bold;
}

.sidebar ul {
    padding: 0;
    display: grid;
    gap: 20px;
}