:root {
    --light-color: rgba(0, 0, 0, 0.1);
    --gray-color: rgba(0, 0, 0, 0.2);
    --dark-color: rgba(0, 0, 0, 0.3);
}

body, html {
    height: 100%;
    /* margin: 0; */
}

* {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100%;
}

.navbar {
    background-color: var(--light-color);
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px; /* Play with it later */
    padding: 0 60px 0 40px;
}

.navbar > * {
    background-color: var(--gray-color);
}

.navbar .top-nav {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10vw;
    justify-content: center;
    align-items: center;
}

.navbar .top-nav > div {
    display: flex;
    column-gap: 20px;
}

.top-nav > div > input {
    flex: 1;
}

.navbar .bottom-nav {
    display: flex;
}

.navbar .bottom-nav div:first-child {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}

.bottom-nav div > * {
    margin: 0;
}

.bottom-nav div > p:nth-child(2) {
    align-self: flex-end;
}

.bottom-nav div > p:nth-child(3) {
    align-self: flex-start;
}

.navbar .bottom-nav .profile-img {
    grid-area: 1 / 1 / 3 / 2;
}

.navbar .bottom-nav .buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.home {
    background-color: var(--gray-color);

    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    /* padding: 40px 30px 60px 20px; */
}

.home > section {
    background-color: var(--dark-color);
}

.home > section > div {
    background-color: var(--light-color);
}

.home > .projects-cont {
    grid-area: 1 / 1 / 3 / 2;
    padding: 0 0 0 20px;
}

.home > .projects-cont > h2 {
    margin: 25px 0 10px 0;
}

.home > .projects-cont > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.projects-cont > div > * {
    background-color: var(--light-color);
    /* width: 200px; */
    height: 200px;
}

.projects > .project {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    padding: 25px;
}

.projects > .project > .proj-title {
    margin: 10px 0 0 0;
}

.projects > .project > p {
    margin: 8px 0 0 0;
}

.projects > .project > .proj-icons {
    display: flex;
    column-gap: 35px;
    justify-content: flex-end;
    margin: 0;
}

.home > .announcement-cont {
    grid-area: 1 / 2 / 2 / 3;
}

.announcement-cont .announcement {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
}

.announcement-cont .announcement article {
    border-bottom: 1px solid black;
    display: grid;
    grid-template-rows: auto 1fr;
}

.announcement-cont .announcement article:last-child {
    border: none;
}

.announcement article > h4 {
    margin: 15px 0 0 0;
    /* font-size: 1rem; */
}

.announcement article > p {
    margin-top: 3px;
    /* font-size: 0.9rem; */
}

.home > .trending-cont {
    grid-area: 2 / 2 / 3 / 3;
}

.home > .trending-cont > .trending {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
    padding: 30px;
}

.trending-cont .trending article {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "img user"
                         "img descr";
    column-gap: 25px;
}

.trending article .img {
    grid-area: img;
}

.trending article .user {
    grid-area: user;
    margin:0;
}

.trending article .description {
    grid-area: descr;
    margin:0;
}

.sidebar {
    background-color: var(--dark-color);

    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 40px; /* Later try to use vw or vh to make it responsive*/
}

.sidebar > * {
    background-color: var(--light-color);
    padding-left: 25px;
}

.title > * {
    background-color: var(--light-color);
}

.title,
.sidebar ul > li {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 25px;
}

.sidebar ul {
    padding: 0;
    display: grid;
    gap: 20px;
}

.sidebar ul > li {
    background-color: var(--light-color);
}